.container {
  position: relative;
  margin-right: auto;
  margin-left: auto;
  padding-left: 8px;
  padding-right: 8px;
}
.container:before,
.container:after {
  content: " ";
  display: table;
}
.container:after {
  clear: both;
}
@media (min-width: 768px) {
  .container {
    width: 736px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 956px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1156px;
  }
}
@font-face {
  font-family: 'Seneye';
  src: url('../f/seneye-webfont.eot');
  src: url('../f/seneye-webfont.eot?#iefix') format('embedded-opentype'), url('../f/seneye-webfont.woff') format('woff'), url('../f/seneye-webfont.ttf') format('truetype'), url('../f/seneye-webfont.svg#glyphicons-halflingsregular') format('svg');
}
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  height: 100%;
  width: 100%;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
body {
  padding-top: 87.4px;
  height: 100%;
  width: 100%;
  font-family: "Seneye", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333333;
  background-color: #fff;
  -ms-touch-action: pan-x pan-y;
  touch-action: pan-x pan-y;
  margin: 0;
}
@media (max-width: 767px) {
  body {
    padding-top: 63.08px;
  }
}
.nft {
  position: fixed;
  right: 0;
  left: 0;
  z-index: 10000;
  top: 0;
  border-top: 16px solid #000;
  background: #fff;
}
@media (max-width: 767px) {
  .nft {
    border-top: 12px solid #000;
  }
}
.nft .container {
  margin-top: -16px;
}
@media (max-width: 767px) {
  .nft .container {
    margin-top: -12px;
  }
}
.VBr {
  position: relative;
}
#Vt {
  position: absolute;
  left: 87.4px;
  height: 76px;
  right: 0;
  top: 0;
}
@media (max-width: 767px) {
  #Vt {
    left: 59.28px;
    height: 57px;
  }
}
#Vt h1 {
  white-space: nowrap;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}
#tlbl {
  position: absolute;
  bottom: 0px;
  left: 0px;
  font-family: Seneye;
  margin-bottom: 0px;
  margin-top: 0px;
}
#Vc {
  width: 76px;
  height: 76px;
}
@media (max-width: 767px) {
  #Vc {
    width: 57px;
    height: 57px;
  }
}
#Vc.s1 {
  background: #00ADEF;
}
#Vc.s2 {
  background: #fbaf3f;
}
#Vc.s3 {
  background: #be1e2d;
}
#Vc.s1 svg .w,
#Vc.s3 svg .w {
  fill: #ffffff;
}
#Vc.s2 svg .w {
  fill: #000000;
  -moz-animation: blink 1s steps(5, start) infinite;
  -o-animation: blink 1s steps(5, start) infinite;
  -webkit-animation: blink 1s steps(5, start) infinite;
  animation: blink 1s steps(5, start) infinite;
}
@-moz-keyframes blink {
  to {
    visibility: hidden;
  }
}
@-webkit-keyframes blink {
  to {
    visibility: hidden;
  }
}
@keyframes blink {
  to {
    visibility: hidden;
  }
}
#Vb {
  height: 100%;
}
